//variables
$button: #AB4906;
$background: #fff;
$text: #292829;
$secondary: #D1894B;

.product {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: start;
}

@media screen and (max-width: 800px) {
    .product {
        flex-direction: column;
        margin-top: 0px ;
    }
}