//variables
$button: #AB4906;
$background: #fff;
$text: #292829;
$secondary: #D1894B;

@mixin flex($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

.productImages {
    // width: 1; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    //images
    .mainImages {
        img {
            border-radius: 10px;
        }
    }

    //thumnail
    .thumnails {
        @include flex(space-between);
        gap: 32px;

        img {
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .icons {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .productImages {
        margin-top: 80px !important;
        display: block !important;
        margin-bottom: 0 !important;

        .thumbnails {
            display: none !important;
        }
    }

    .mainImages {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        img {
            width: 100%;
            height: 100%;
            border-radius: 0px !important;
        }
    }
    

    .icons {
        display: block !important;
        
        span {
            display: flex;
            justify-content: center;
            height: 50px;
            width: 50px;
            padding: 15px;
            border-radius: 50%;
            background-color: $background;
        }

        #leftIcon {
            position: relative;
            top: -250px;
            left: 20px;
        }
        #rightIcon {
            position: relative;
            top: -300px;
            right: -310px;
        }
    }
}